/*=== abstracts css start === */
@font-face {
  font-family: "KozGoPro";
  src: url(../fonts/KozGoPro-ExtraLight.otf);
}
@font-face {
  font-family: "TahomaBold";
  src: url(../fonts/Tahoma-bold.ttf);
}
@font-face {
  font-family: "ArialNarrow";
  src: url(../fonts/ARIALN.TTF);
}
/*===// end of abstracts css === */
/*=== base css start === */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

::after, ::before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, ol, ul, p, address, strong, i {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul, li {
  list-style: none;
}

a, a:hover {
  text-decoration: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.main-body {
  margin-top: 93px;
  width: calc(100% - 300px);
  margin-left: auto;
}
@media screen and (max-width: 1399px) {
  .main-body {
    margin-top: 98px;
  }
}
@media screen and (max-width: 1199px) {
  .main-body {
    width: 100%;
  }
}
@media screen and (max-width: 575px) {
  .main-body {
    margin-top: 68px;
  }
}

/*===// end of base css === */
/*=== layouts css start === */
.backoffice-header {
  background: #fff;
}
.backoffice-header .brand-logo {
  width: 100%;
  max-width: 175px;
}
@media screen and (max-width: 575px) {
  .backoffice-header .brand-logo {
    max-width: 100px;
  }
}
.backoffice-header .heading {
  font-family: "KozGoPro";
  font-size: 50px;
  color: #585555;
  font-weight: 300;
}
@media screen and (max-width: 1399px) {
  .backoffice-header .heading {
    font-size: 35px;
  }
}
@media screen and (max-width: 575px) {
  .backoffice-header .heading {
    font-size: 20px;
  }
}
.backoffice-header .profile-image {
  width: 100%;
  max-width: 85px;
}
@media screen and (max-width: 1399px) {
  .backoffice-header .profile-image {
    max-width: 70px;
  }
}
@media screen and (max-width: 575px) {
  .backoffice-header .profile-image {
    max-width: 45px;
  }
}

.sideNav {
  background: #000;
  width: 280px;
  height: 100vh;
  padding-top: 93px;
  overflow: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
  transition: all 0.1s linear;
}
@media screen and (max-width: 1199px) {
  .sideNav {
    position: fixed;
    overflow: hidden;
    width: 0;
  }
}
.sideNav .body-content ul {
  padding-top: 25px;
}
.sideNav .body-content ul li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 400;
  padding-bottom: 20px;
}
@media (max-width: 1399px) {
  .sideNav .body-content ul li {
    font-size: 18px;
    padding-bottom: 15px;
  }
}
.sideNav .body-content ul li a {
  display: block;
  padding: 5px;
  color: #ffffff;
}
.sideNav .body-content ul li a:hover {
  background: #fff;
  color: #000;
}
.sideNav .body-content ul li a:hover img {
  filter: invert(1);
}

/*===// end of layouts css === */
/*=== components css start === */
.btn-blue {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 26px;
  color: #fff;
  background: #00a2ff;
  padding: 0 20px;
  margin-top: 5px;
  border-radius: 0;
}
@media screen and (max-width: 1399px) {
  .btn-blue {
    font-size: 20px;
  }
}
@media screen and (max-width: 575px) {
  .btn-blue {
    font-size: 16px;
  }
}

.button-groups .button-parent {
  background: linear-gradient(90deg, #0e63c3 0%, #fdfcfd 50%, #0e63c3 100%);
  padding: 5px;
}
@media screen and (max-width: 991px) {
  .button-groups .button-parent {
    padding: 3px;
  }
}
.button-groups .button-parent .btn-transactions {
  color: #000;
  background: linear-gradient(90deg, #fff 0%, #fff 50%, #fff 100%);
  font-family: "TahomaBold";
  font-size: 24px;
  border-radius: 0;
  padding: 15px 10px;
  width: 100%;
  display: block;
}
.button-groups .button-parent .btn-transactions:hover {
  background: linear-gradient(90deg, #0c56a9 0%, #0e63c3 50%, #0c56a9 100%);
  color: #fff;
}
@media screen and (max-width: 1399px) {
  .button-groups .button-parent .btn-transactions {
    font-size: 20px;
  }
}
@media screen and (max-width: 991px) {
  .button-groups .button-parent .btn-transactions {
    font-size: 16px;
  }
}

.spnsor-n-profile .person-details-parent,
.spnsor-n-profile .sponsor-details-parent {
  background: linear-gradient(0deg, #0e63c3 0%, #fdfcfd 50%, #0e63c3 100%);
  padding: 4px;
  height: 100%;
  border-radius: 10px;
}
.spnsor-n-profile .person-details,
.spnsor-n-profile .sponsor-details {
  padding: 20px;
  border-radius: 10px;
  background: #fff;
  height: 100%;
}
.spnsor-n-profile .person-details .text h2,
.spnsor-n-profile .sponsor-details .text h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: #000;
  margin-bottom: 10px;
}
@media screen and (max-width: 1399px) {
  .spnsor-n-profile .person-details .text h2,
.spnsor-n-profile .sponsor-details .text h2 {
    font-size: 26px;
  }
}
@media screen and (max-width: 575px) {
  .spnsor-n-profile .person-details .text h2,
.spnsor-n-profile .sponsor-details .text h2 {
    font-size: 20px;
  }
}
.spnsor-n-profile .person-details .text .sp-name,
.spnsor-n-profile .person-details .text .sp-username,
.spnsor-n-profile .person-details .text .sp-email,
.spnsor-n-profile .person-details .text .name,
.spnsor-n-profile .person-details .text .username,
.spnsor-n-profile .person-details .text .email,
.spnsor-n-profile .sponsor-details .text .sp-name,
.spnsor-n-profile .sponsor-details .text .sp-username,
.spnsor-n-profile .sponsor-details .text .sp-email,
.spnsor-n-profile .sponsor-details .text .name,
.spnsor-n-profile .sponsor-details .text .username,
.spnsor-n-profile .sponsor-details .text .email {
  font-family: "ArialNarrow";
  font-weight: 700;
  font-size: 26px;
  color: #000;
  line-height: 1.5;
}
@media screen and (max-width: 1399px) {
  .spnsor-n-profile .person-details .text .sp-name,
.spnsor-n-profile .person-details .text .sp-username,
.spnsor-n-profile .person-details .text .sp-email,
.spnsor-n-profile .person-details .text .name,
.spnsor-n-profile .person-details .text .username,
.spnsor-n-profile .person-details .text .email,
.spnsor-n-profile .sponsor-details .text .sp-name,
.spnsor-n-profile .sponsor-details .text .sp-username,
.spnsor-n-profile .sponsor-details .text .sp-email,
.spnsor-n-profile .sponsor-details .text .name,
.spnsor-n-profile .sponsor-details .text .username,
.spnsor-n-profile .sponsor-details .text .email {
    font-size: 20px;
  }
}
@media screen and (max-width: 575px) {
  .spnsor-n-profile .person-details .text .sp-name,
.spnsor-n-profile .person-details .text .sp-username,
.spnsor-n-profile .person-details .text .sp-email,
.spnsor-n-profile .person-details .text .name,
.spnsor-n-profile .person-details .text .username,
.spnsor-n-profile .person-details .text .email,
.spnsor-n-profile .sponsor-details .text .sp-name,
.spnsor-n-profile .sponsor-details .text .sp-username,
.spnsor-n-profile .sponsor-details .text .sp-email,
.spnsor-n-profile .sponsor-details .text .name,
.spnsor-n-profile .sponsor-details .text .username,
.spnsor-n-profile .sponsor-details .text .email {
    font-size: 16px;
  }
}
.spnsor-n-profile .person-details .avatar,
.spnsor-n-profile .sponsor-details .avatar {
  width: 100%;
  max-width: 150px;
}

.economy .Referral,
.economy .Balance,
.economy .reward,
.economy .reward-date {
  text-align: center;
  padding: 20px 10px;
  color: #000;
  border: 4px solid #0076a3;
  border-radius: 4px;
}
.economy .Referral h6,
.economy .Balance h6,
.economy .reward h6,
.economy .reward-date h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 65px;
}
@media screen and (max-width: 1399px) {
  .economy .Referral h6,
.economy .Balance h6,
.economy .reward h6,
.economy .reward-date h6 {
    font-size: 45px;
  }
}
.economy .Referral p,
.economy .Balance p,
.economy .reward p,
.economy .reward-date p {
  font-family: "ArialNarrow";
  font-weight: 700;
  font-size: 26px;
}
@media screen and (max-width: 1399px) {
  .economy .Referral p,
.economy .Balance p,
.economy .reward p,
.economy .reward-date p {
    font-size: 16px;
  }
}

.refferral-link {
  background: #034a6b;
}
.refferral-link p {
  font-family: "TahomaBold";
  font-size: 24px;
  color: #fff;
  padding-left: 15px;
}
@media screen and (max-width: 1399px) {
  .refferral-link p {
    font-size: 20px;
  }
}
@media screen and (max-width: 767px) {
  .refferral-link p {
    font-size: 16px;
  }
}

.backoffice-video-section h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 700;
  font-style: italic;
  color: #000;
  text-align: center;
  padding-bottom: 10px;
}
@media screen and (max-width: 1399px) {
  .backoffice-video-section h2 {
    font-size: 22px;
  }
}

/*===// end of components css === *//*# sourceMappingURL=style.css.map */