/*=== abstracts css start === */
@font-face {
  font-family: "CenturyGothic";
  src: url(../fonts/CenturyGothic.ttf);
}
@font-face {
  font-family: "GeorgiaBrush";
  src: url(../fonts/GeorgiaBrush.otf);
}
@font-face {
  font-family: "TahomaBold";
  src: url(../fonts/Tahoma.ttf);
}
/*===// end of abstracts css === */
/*=== base css start === */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

::after, ::before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, ol, ul, p, address, strong, i {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul, li {
  list-style: none;
}

a, a:hover {
  text-decoration: none;
}

body {
  font-family: "CenturyGothic";
}

.back-office {
  background: #e6e5e6;
}

.main-body {
  margin-top: 93px;
  width: calc(100% - 300px);
  margin-left: auto;
}
@media screen and (max-width: 1399px) {
  .main-body {
    margin-top: 98px;
  }
}
@media screen and (max-width: 1199px) {
  .main-body {
    width: 100%;
  }
}
@media screen and (max-width: 575px) {
  .main-body {
    margin-top: 68px;
  }
}

/*===// end of base css === */
/*=== layouts css start === */
.backoffice-header {
  background: #fff;
}
.backoffice-header .brand-logo {
  width: 100%;
  max-width: 175px;
}
@media screen and (max-width: 575px) {
  .backoffice-header .brand-logo {
    max-width: 100px;
  }
}
.backoffice-header .heading {
  font-size: 50px;
  color: #585555;
  font-weight: 300;
}
@media screen and (max-width: 1399px) {
  .backoffice-header .heading {
    font-size: 35px;
  }
}
@media screen and (max-width: 575px) {
  .backoffice-header .heading {
    font-size: 20px;
  }
}
.backoffice-header .profile-image {
  width: 100%;
  max-width: 85px;
}
@media screen and (max-width: 1399px) {
  .backoffice-header .profile-image {
    max-width: 70px;
  }
}
@media screen and (max-width: 575px) {
  .backoffice-header .profile-image {
    max-width: 45px;
  }
}

.sideNav {
  background: #102752;
  width: 280px;
  height: 100vh;
  padding-top: 93px;
  overflow: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
  transition: all 0.1s linear;
}
@media screen and (max-width: 1199px) {
  .sideNav {
    position: fixed;
    overflow: hidden;
    width: 0;
  }
}
.sideNav .body-content ul {
  padding-top: 25px;
}
.sideNav .body-content ul li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 400;
  padding-bottom: 20px;
}
@media (max-width: 1399px) {
  .sideNav .body-content ul li {
    font-size: 18px;
    padding-bottom: 15px;
  }
}
.sideNav .body-content ul li a {
  display: block;
  padding: 5px;
  color: #ffffff;
}
.sideNav .body-content ul li a:hover {
  background: #ffffff;
  color: #52036b;
}
.sideNav .body-content ul li a:hover img {
  filter: invert(1);
}

/*===// end of layouts css === */
/*=== components css start === */
.footer-button {
  font-family: "CenturyGothic";
  font-size: 90px;
  color: #fff;
  background: linear-gradient(0deg, rgb(3, 108, 142) 0%, rgb(5, 59, 94) 100%);
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 10px;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  min-width: 300px;
}
@media screen and (max-width: 767px) {
  .footer-button {
    font-size: 40px;
  }
}
.footer-button:hover {
  background: #fff;
  color: #ee84f2;
}

.btn-blue {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 26px;
  color: #fff;
  background: #00a2ff;
  padding: 0 20px;
  margin-top: 5px;
  border-radius: 0;
}
@media screen and (max-width: 1399px) {
  .btn-blue {
    font-size: 20px;
  }
}
@media screen and (max-width: 575px) {
  .btn-blue {
    font-size: 16px;
  }
}

.button-groups .button-parent {
  background: linear-gradient(90deg, #350445 0%, #fdfcfd 50%, #350445 100%);
  padding: 5px;
}
@media screen and (max-width: 991px) {
  .button-groups .button-parent {
    padding: 3px;
  }
}
.button-groups .button-parent .btn-transactions {
  color: #fff;
  background: linear-gradient(90deg, #41557a 0%, #4d517f 50%, #41557a 100%);
  font-family: "TahomaBold";
  font-size: 24px;
  border-radius: 0;
  padding: 5px 10px;
  width: 100%;
  display: block;
}
.button-groups .button-parent .btn-transactions:hover {
  background: linear-gradient(90deg, #350445 0%, #4d517f 50%, #350445 100%);
  color: #fff;
}
@media screen and (max-width: 1399px) {
  .button-groups .button-parent .btn-transactions {
    font-size: 20px;
  }
}
@media screen and (max-width: 991px) {
  .button-groups .button-parent .btn-transactions {
    font-size: 16px;
  }
}

.watch-video .section-heading {
  font-family: "CenturyGothic";
  font-size: 60px;
  margin-top: -25px;
}
@media screen and (max-width: 1199px) {
  .watch-video .section-heading {
    font-size: 35px;
  }
}

.welcome-recompense {
  padding: 180px 0 50px;
  background: url(../images/homepage-image/backgrounds/welcome-bg.png) no-repeat top center/cover;
}
@media screen and (max-width: 991px) {
  .welcome-recompense {
    padding: 0px 0 50px;
  }
}
@media screen and (max-width: 1199px) {
  .welcome-recompense {
    margin-top: -100px;
  }
}
.welcome-recompense .section-heading {
  font-family: "CenturyGothic";
  font-size: 36px;
  text-align: center;
  color: #fff;
}
@media screen and (max-width: 991px) {
  .welcome-recompense .section-heading {
    padding-top: 240px;
  }
}
.welcome-recompense .text .top-para {
  font-family: "CenturyGothic";
  font-size: 23px;
}
@media screen and (max-width: 991px) {
  .welcome-recompense .text .top-para {
    font-size: 18px;
  }
}
@media screen and (min-width: 1400px) {
  .welcome-recompense .text .top-para {
    white-space: pre-line;
  }
}
.welcome-recompense .text .bottom-para {
  font-family: "CenturyGothic";
  font-size: 30px;
}
@media screen and (max-width: 991px) {
  .welcome-recompense .text .bottom-para {
    font-size: 20px;
  }
}
@media screen and (min-width: 1400px) {
  .welcome-recompense .text .bottom-para {
    white-space: pre-line;
  }
}
.welcome-recompense .text .signature {
  font-family: "GeorgiaBrush";
  font-size: 48px;
  padding-top: 10px;
}

.our-comp-plan {
  padding: 50px 0;
  background: url(../images/homepage-image/backgrounds/comp-plan.png) no-repeat top center/cover;
}
.our-comp-plan .section-header {
  font-family: "CenturyGothic";
  font-size: 70px;
}
@media screen and (max-width: 1199px) {
  .our-comp-plan .section-header {
    font-size: 40px;
  }
}
.our-comp-plan .text {
  padding-top: 35px;
}
.our-comp-plan .text ul li, .our-comp-plan .text ol li {
  font-family: "CenturyGothic";
  font-size: 30px;
  line-height: 1.3;
}
@media screen and (max-width: 991px) {
  .our-comp-plan .text ul li, .our-comp-plan .text ol li {
    font-size: 20px;
  }
}

.spnsor-n-profile .person-details,
.spnsor-n-profile .sponsor-details {
  padding: 20px;
  border-radius: 10px;
  background: linear-gradient(0deg, rgba(105, 2, 138, 0.4), #fff);
  height: 100%;
}
.spnsor-n-profile .person-details .text h2,
.spnsor-n-profile .sponsor-details .text h2 {
  font-family: "TahomaBold";
  font-size: 36px;
  color: #fff;
  margin-bottom: 10px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 1399px) {
  .spnsor-n-profile .person-details .text h2,
.spnsor-n-profile .sponsor-details .text h2 {
    font-size: 26px;
  }
}
@media screen and (max-width: 575px) {
  .spnsor-n-profile .person-details .text h2,
.spnsor-n-profile .sponsor-details .text h2 {
    font-size: 20px;
  }
}
.spnsor-n-profile .person-details .text .sp-name,
.spnsor-n-profile .person-details .text .sp-username,
.spnsor-n-profile .person-details .text .sp-email,
.spnsor-n-profile .person-details .text .name,
.spnsor-n-profile .person-details .text .username,
.spnsor-n-profile .person-details .text .email,
.spnsor-n-profile .sponsor-details .text .sp-name,
.spnsor-n-profile .sponsor-details .text .sp-username,
.spnsor-n-profile .sponsor-details .text .sp-email,
.spnsor-n-profile .sponsor-details .text .name,
.spnsor-n-profile .sponsor-details .text .username,
.spnsor-n-profile .sponsor-details .text .email {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: #fff;
  line-height: 1.2;
}
@media screen and (max-width: 1399px) {
  .spnsor-n-profile .person-details .text .sp-name,
.spnsor-n-profile .person-details .text .sp-username,
.spnsor-n-profile .person-details .text .sp-email,
.spnsor-n-profile .person-details .text .name,
.spnsor-n-profile .person-details .text .username,
.spnsor-n-profile .person-details .text .email,
.spnsor-n-profile .sponsor-details .text .sp-name,
.spnsor-n-profile .sponsor-details .text .sp-username,
.spnsor-n-profile .sponsor-details .text .sp-email,
.spnsor-n-profile .sponsor-details .text .name,
.spnsor-n-profile .sponsor-details .text .username,
.spnsor-n-profile .sponsor-details .text .email {
    font-size: 20px;
  }
}
@media screen and (max-width: 575px) {
  .spnsor-n-profile .person-details .text .sp-name,
.spnsor-n-profile .person-details .text .sp-username,
.spnsor-n-profile .person-details .text .sp-email,
.spnsor-n-profile .person-details .text .name,
.spnsor-n-profile .person-details .text .username,
.spnsor-n-profile .person-details .text .email,
.spnsor-n-profile .sponsor-details .text .sp-name,
.spnsor-n-profile .sponsor-details .text .sp-username,
.spnsor-n-profile .sponsor-details .text .sp-email,
.spnsor-n-profile .sponsor-details .text .name,
.spnsor-n-profile .sponsor-details .text .username,
.spnsor-n-profile .sponsor-details .text .email {
    font-size: 16px;
  }
}
.spnsor-n-profile .person-details .avatar,
.spnsor-n-profile .sponsor-details .avatar {
  width: 100%;
  max-width: 150px;
}

.economy .Referral,
.economy .Balance,
.economy .reward,
.economy .reward-date {
  text-align: center;
  padding: 10px;
  color: #fff;
}
.economy .Referral h6,
.economy .Balance h6,
.economy .reward h6,
.economy .reward-date h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 65px;
}
@media screen and (max-width: 1399px) {
  .economy .Referral h6,
.economy .Balance h6,
.economy .reward h6,
.economy .reward-date h6 {
    font-size: 45px;
  }
}
.economy .Referral p,
.economy .Balance p,
.economy .reward p,
.economy .reward-date p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 26px;
}
@media screen and (max-width: 1399px) {
  .economy .Referral p,
.economy .Balance p,
.economy .reward p,
.economy .reward-date p {
    font-size: 16px;
  }
}
.economy .reward {
  background: #1a1e4c;
}
.economy .reward-date {
  background: #321656;
}
.economy .Referral {
  background: #42105d;
}
.economy .Balance {
  background: #580866;
}

.refferral-link {
  background: #52036b;
}
.refferral-link p {
  font-family: "TahomaBold";
  font-size: 24px;
  color: #fff;
  padding-left: 15px;
}
@media screen and (max-width: 1399px) {
  .refferral-link p {
    font-size: 20px;
  }
}
@media screen and (max-width: 767px) {
  .refferral-link p {
    font-size: 16px;
  }
}

.backoffice-video-section {
  padding-bottom: 50px;
}
.backoffice-video-section h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 700;
  font-style: italic;
  color: #fff;
  text-align: center;
  padding: 20px 0 40px;
}
@media screen and (max-width: 1399px) {
  .backoffice-video-section h2 {
    font-size: 30px;
    padding: 10px 0 25px;
  }
}

/*===// end of components css === *//*# sourceMappingURL=style.css.map */